<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Cobranza</title>
</head>
<body>
    <form action="" method="post">
        
        {{formCobranzaFecha}}
    </form>
    <h2>Metodo de pago</h2>
    
    <p>Efectivo <a href="{% url 'efectivo' %}"><button>+</button></a> </p>
    <p>Tarjeta <a href="{% url 'tarjeta' %}"><button>+</button></a></p>
    <p>Tranferencia <a href="{% url 'transeferncia' %}"><button>+</button></a></p>
    <p>
        <a href="{% url 'menu' %}"><button>Cancelar</button></a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Metodo de Pago</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in metodos %}
            <tr>
                <td>{{i.metodo}}</td>
                <td>{{i.monto}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>