<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Cobranza</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{formCobranzaFecha}}
        <button type="submit" name="venta_cobranza">Aceptar</button>
    </form>
    <h2>Metodo de pago</h2>
    
    <p>Efectivo <a href="{% url 'efectivo' %}"><button>+</button></a> </p>
    <p>Tarjeta <a href="{% url 'tarjeta' %}"><button>+</button></a></p>
    <p>Tranferencia <a href="{% url 'transeferncia' %}"><button>+</button></a></p>
    
    <table>
        <thead>
            <tr>
                <th>Metodo de Pago</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in metodos %}
            <tr>
                <td>{{i.metodo}}</td>
                <td>{{i.monto}}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="met_{{i.id}}">D</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if totalCobranza %}
    <p>Total: ${{totalCobranza}}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %} 
        {{formVC}}
        <button type="submit" name="ventas">+</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Venta</th>
                <th>Monto</th>
                <th>Condicion de pago</th>
            </tr>
        </thead>
        <tbody>
            {% for i in ventas %}
            <tr>
                <th>{{i.venta}}</th>
                <th>{{i.monto}}</th>
                <th>{{i.condicion}}</th>
                <td><form  method="post">
                    {% csrf_token %}
                    <button type="submit" name="ven_{{i.id}}">D</button></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if totalVentas %}
    <p>Total: $ {{totalVentas}}</p>
    {% endif %}
    <p>
        <a href="{% url 'menu' %}"><button>Cancelar</button></a>
        
    </p>

</body>
</html>