<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Cobranza</title>
</head>
<body>
    <form action="" method="post">
        
        {{formCobranzaFecha}}
    </form>
    <h2>Metodo de pago</h2>
    <p>Efectivo</p>
    <a href="{% url 'efectivo' %}"><button>+</button></a>
    <p>Tarjeta</p>
    <a href="{% url 'tarjeta' %}"><button>+</button></a>
    <p>Tranferencia</p>
    <a href="{% url 'transeferncia' %}"><button>+</button></a>
    <p>
        <a href="{% url 'menu' %}"><button>Cancelar</button></a>

    </p>
</body>
</html>