{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
    "> 
    <link rel="stylesheet" href="{% static 'altaCobranza/styles.css' %}">
    <title>Metodo: Tarjeta</title>
</head>
<body>
    <h1>Tarjeta</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{tarjetaForm}}
        <button class="btn btn-success mb-3 button ac">Aceptar</button>
    </form>
    <a href="{% url 'alta_cobranza' %}"><button class="btn btn-danger mb-3 button-c ca">Cancelar</button></a>

</body>
</html>