.button-a{
    position: absolute;
    left: 90%;
    top: 50%;

}
.button-c{
    position: absolute;
    left: 80%;
    top: 50%;
 
}

.fecha{
    position: absolute;
    margin-left: 40%;
    margin-top: -80px;
   
}