{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta venta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
     "> 
     <link rel="stylesheet" type="text/css" href="{% static 'altaVenta/styles.css' %}">
</head>
<body>
    <h1 class="test">Alta  venta</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% if aviso %}
    <div class="alert alert-success" role="alert">
        {{aviso}}
      </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{formVenta}}
        <div class="fecha">
            {{formFecha}}
            
        </div>
        
        <div>
            <button type="submit" name="submit_venta" class="btn btn-success mb-3 button" id="acept">Aceptar</button>
        </div>
        
    </form>
    <form action="{% url 'menu' %}">
        <div >
            <button class="btn btn-danger mb-3 button-c" id="">Cancelar</button>
        </div>
        
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {{formVentaDetalle}}
        <button type="submit" name="submit_venta_detalle" class="btn btn-outline-primary mb-3">+</button>
    </form>
    <div>
        <table class="table-bordered ">
        <thead >
            <tr>
                <th>Articulo</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in detalles %}
            <tr>
                <td>{{i.nom}}</td>
                <td>{{i.cantidad}}</td>
                <td>${{i.subtotal}}</td>
                <td><form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" name="det_{{i.n}}" class="btn btn-outline-warning mb-3">D</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
        
        
    </table>
    
    {% if total %}
    <p>Total: ${{total}}</p>
    {% endif %}
</div>
</body>
</html>